:root {
  --ntp-background-color: #ffffff;
  --ntp-text-color: #010101;
  --ntp-secondary-background-color: #f5f5f5;
  --ntp-secondary-text-color: #3c4043;
  --ntp-icon-color: #5f6368;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ntp-background-color: #121212;
    --ntp-text-color: #fafafa;
    --ntp-secondary-background-color: #202124;
    --ntp-secondary-text-color: #e8eaed;
    --ntp-icon-color: #9aa0a6;
  }
  .ntp-logo-light {
    display: none;
  }
  .ntp-logo-dark {
    display: block !important;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  background-color: var(--ntp-background-color);
  color: var(--ntp-text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
