name: Build
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-22.04
    container: stateoftheartio/qt6:6.8-gcc-aqt

    steps:
      - uses: actions/checkout@v4

      - name: Build & Package
        run: |
          cmake -B build -S . -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr
          cmake --build build -j$(nproc)
          DESTDIR=AppDir cmake --install build

          mkdir -p AppDir/usr/share/icons/hicolor/1024x1024/apps/
          cp assets/icons/logo.png AppDir/dev.arnv.nicol.png
          cp assets/icons/logo.png AppDir/usr/share/icons/hicolor/1024x1024/apps/dev.arnv.nicol.png
          
          mkdir -p AppDir/usr/qml
          cp -r /opt/qt6/qml/QtWebEngine AppDir/usr/qml/
          
          wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage" -O linuxdeployqt
          chmod +x linuxdeployqt
          
          ./linuxdeployqt AppDir/usr/share/applications/*.desktop -appimage -extra-plugins=platformthemes/libqgtk3.so

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Nicol-Browser-AppImage
          path: Nicol*.AppImage