name: Build
on:
  push:
    branches: ["main"]
  pull_request:
  workflow_dispatch:

jobs:
  build-linux:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: "6.8.0"
          modules: "qtwebengine qtwebchannel qtpositioning qtserialport"
          archives: "qtbase qtdeclarative qttools qtlocation qtwebsockets qtwayland qtwebengine"
          cache: "true"

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgl1-mesa-dev libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-render-util0 libxcb-xinerama0 libxcb-randr0 libxcb-shape0 libxcb-sync1 libxcb-xfixes0 libxcb-xinput0 libzstd-dev libvulkan-dev libxcb-cursor0
      - name: WebEngine dependencies and setup
        run: |
          sudo apt-get update
          sudo apt-get install -y libnss3 libdbus-1-3 libxcomposite1 libxrender1 libxrandr2 libxtst6 libxi6 libasound2 libegl1-mesa-dev libgl1-mesa-dev libxkbcommon-x11-0 fontconfig libxcursor1 libxdamage1 libxss1 libpci3
          mkdir -p build/AppDir/usr/qml
          cp -r ${{ env.Qt6_DIR }}/../../qml/QtWebEngine build/AppDir/usr/qml/
          cp -r ${{ env.Qt6_DIR }}/../../qml/QtPositioning build/AppDir/usr/qml/
      - name: Build and Package AppImage
        run: |
          mkdir build && cd build

          cmake .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr
          cmake --build . -j$(nproc)
          DESTDIR=./AppDir cmake --install .

          cp ../assets/icons/logo.png ./AppDir/dev.arnv.nicol.png

          wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage" -O linuxdeployqt
          chmod +x linuxdeployqt

          ./linuxdeployqt AppDir/usr/share/applications/dev.arnv.nicol.desktop  -extra-plugins=iconengines,platformthemes

          wget -c -nv "https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage" -O appimagetool
          chmod +x appimagetool

          ./appimagetool AppDir

      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Nicol-Browser-Linux.AppImage
          path: build/Nicol*.AppImage
